@keyframes alertaNoticia {
    from {color: #ff0000;}
    to{color: black}
}
.notfound{
	text-align: center;
}
.login{
	max-width: 400px;
	text-align: center;
}.esqueciSenha{
	max-width: 400px;
	text-align: center;
}
 .btnEsqueciSenha{
	 margin-top: 10px;
 }

.login .input-group{
	margin-bottom: 5px;
}

.dadosRegistro{
	margin-bottom: 5px;
}

.homeInfo{
	#border: 1px solid black;
}
.imgPerfilHome{
	width: 200px;
	height: 200px;
	border-radius: 10%;
	margin-top: 5px;
}
.ambiente{
    color: red;
    -webkit-animation-name: alertaNoticia;
    -moz-animation-name: alertaNoticia;
    -o-animation-name: alertaNoticia;
    animation-name: alertaNoticia;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.alertJoni{
	font-family: 'Calibri Light', Calibri, serif;
	padding: 5px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
#esqueciSenha{
	text-decoration: none;
}
.sugestao{
    margin-bottom: 15px;
}
#verified{
	width: 20px;
	height: 20px;
}